.home-container {
  position: relative;
  top: 10vh;
  color: black;
}

/*LANDING PAGE*/

.landing-container {
  position: relative;
  height: 80vh;
  background-image: url(../../../public/media/landing-horizontal.webp);
  background-size: cover;
  background-position: left;
}
.landing-container-contract {
  background-color: #f1f1f1;
  position: absolute;
  right: 50px;
  top: 35%;
  width: 350px;
  height: 200px;
  box-shadow: 0px 0px 16px 1px;
}
.landing-container-contract-header {
  background-color: var(--background);
  color: white;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: default;
}
.landing-container-contract-header h2:last-child {
  color: var(--primary);
}
.landing-container-contract-button {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-container-contract-button a {
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  background-color: var(--background);
  color: white;
  padding: 10px;
  transition: color 0.3s ease;
}
.landing-container-contract-button a:hover {
  color: var(--primary);
}

/*HOME SECTION ONE*/
.home-section-one {
  display: flex;
  justify-content: space-around;
}
.home-section-one div {
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  background: #f1f1f1;
  width: 325px;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0px 0px 20px 0.5px;
}
.home-section-one div h2 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.8rem;
}
.home-section-one div p {
  margin: 10px 0px 25px 0px;
  font-size: 1rem;
  font-weight: 300;
}
.home-section-one div a {
  width: fit-content;
  text-decoration: none;
  color: white;
  background: var(--background);
  padding: 8px;
  transition: color 0.5s ease;
}
.home-section-one div a:hover {
  color: var(--primary);
}

/*HOME SECTION TWO*/
.home-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}
.home-section-two-map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  overflow: hidden;
  background: #f1f1f1;
}
.home-section-two-map {
  border: none;
  position: relative;
  width: 100%;
  height: 400px;
}
.home-section-two-map-container h2 {
  position: relative;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  margin: 10px 0px;
  padding: 5px;
}
.home-section-two-map-container p {
  padding: 5px;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/*HOME SECTION THREE*/
.home-section-three {
  margin: 50px;
  background-color: #f1f1f1;
  height: fit-content;
  display: flex;
}

.home-section-three .area-one {
  width: 50%;
  padding: 10px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-section-three .area-one h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
}
.home-section-three .area-one p {
  margin: 20px 0px 40px 0px;
  font-weight: 300;
  text-align: center;
}
.home-section-three .area-one a {
  padding: 10px;
  text-decoration: none;
  background-color: var(--background);
  color: white;
  transition: color 0.5s ease;
}
.home-section-three .area-one a:hover {
  color: var(--primary);
}
.home-section-three .area-two {
  width: 50%;
}
.home-section-three .area-two img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 60vh;
}

/*HOME SECTION FOUR*/

.home-section-four {
  height: fit-content;
  padding: 10px 50px;
  background-color: #f1f1f1;
}

.home-section-four h2 {
  margin-top: 60px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.1rem;
  margin-bottom: 30px;
}
.home-section-four-equipment-list {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.home-section-four-equipment-list .eq1 {
  grid-area: 3 / 5 / 5 / 7;
}
.home-section-four-equipment-list .eq2 {
  grid-area: 1 / 5 / 3 / 7;
}
.home-section-four-equipment-list .eq3 {
  grid-area: 3 / 1 / 5 / 3;
}
.home-section-four-equipment-list .eq4 {
  grid-area: 1 / 1 / 3 / 5;
}
.home-section-four-equipment-list .eq5 {
  grid-area: 3 / 3 / 5 / 5;
}

.home-section-four .equipment {
  position: relative;
  cursor: default;
}
.home-section-four .equipment img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4);
  transition: all 0.4s ease;
  z-index: 1;
}
.home-section-four .equipment p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  z-index: 2;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.home-section-four .equipment:hover img {
  filter: brightness(0.75);
}

/*HOME SECTION FIVE*/
.home-section-five {
  padding: 10px 50px;
}
.home-section-five h2 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.1rem;
  margin: 50px 0px;
}
.trainers-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  width: calc(30% - 20px);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: all 0.8s ease;
}
.trainer img {
  padding: 10px 10px 0px 10px;
  width: 75%;
  height: 100%;
  z-index: 2;
  transition: all 0.4s ease;
}
.splat-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 15%;
}
.trainer:nth-child(2) .splat-container img {
  rotate: 45deg;
}
.trainer:nth-child(3) .splat-container img {
  rotate: 90deg;
}
.splat-container img {
  opacity: 0;
  width: 70%;
  height: 70%;
  transition: all 0.8s ease;
}
.trainer-info {
  color: white;
  background-color: var(--background);
  width: 100%;
  padding: 0px;
  text-align: center;
  z-index: 3;
}
.trainer-info h3,
.trainer-info h4 {
  margin: 15px 0px;
}
.trainer-socials {
  display: flex;
  justify-content: space-around;
  margin: 10px 30px;
}
.trainer:hover {
  box-shadow: 0px 0px 16px 1px;
}
.trainer:hover img {
  scale: 1.3;
}
.trainer:hover .splat-container img {
  opacity: 1;
}

/*HOME DIVIDER*/
.divider-container {
  background: url(../../../public/media/divider.webp);
  background-size: 90% 100%;
  background-repeat: no-repeat;
  height: 20vh;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  position: relative;
  bottom: -50px;
}
.divider-container h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.1rem;
}
.divider-container a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  background-color: var(--background);
  padding: 10px;
  margin-left: 20px;
  transition: color 0.5s ease;
}
.divider-container a:hover {
  color: var(--primary);
}

@media only screen and (max-width: 1024px) {
  .home-section-one div {
    width: 225px;
  }
  .home-section-one div p {
    font-size: 0.9rem;
  }
  .home-section-one div a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .landing-container {
    background-image: url(../../../public/media/landing-vertical.webp);
    background-position: right;
  }

  .home-section-one div {
    width: 30%;
  }
  .home-section-one div h2 {
    font-size: 1.2rem;
  }
  .home-section-one div p {
    font-size: 0.7rem;
  }
  .home-section-one div a {
    font-size: 0.7rem;
  }

  .home-section-two-map-container {
    width: 90%;
  }
  .home-section-two-map {
    width: 100%;
  }

  .home-section-three {
    flex-direction: column-reverse;
  }
  .home-section-three .area-one {
    width: 100%;
    height: 50%;
  }

  .home-section-three .area-two {
    width: 100%;
    height: 50%;
  }

  .divider-container h2 {
    font-size: 1.4rem;
  }
  .divider-container a {
    font-size: 1rem;
  }

  .home-section-four {
    padding: 10px 10px;
  }

  .home-section-four .equipment p {
    font-size: 1rem;
  }

  .home-section-five {
    padding: 10px 10px;
  }
  .trainers-section {
    justify-content: flex-start;
  }
  .trainer {
    width: calc(50% - 20px);
    margin: 10px 10px;
  }
}

@media only screen and (max-width: 425px) {
  .landing-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-container-contract {
    width: 250px;
    position: relative;
    right: 0px;
    top: 0px;
  }
  .landing-container-contract-header h2 {
    font-size: 1.2rem;
  }
  .home-section-one {
    flex-direction: column;
    align-items: center;
  }
  .home-section-one div {
    width: 80%;
    margin: 10px 0px;
    left: 0px;
  }

  .home-section-three .area-one {
    padding: 10px 20px;
  }
  .home-section-three .area-one p {
    font-size: 0.8rem;
  }

  .home-section-four h2 {
    text-align: center;
  }

  .home-section-four-equipment-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .home-section-four-equipment-list .eq1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .home-section-four-equipment-list .eq2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .home-section-four-equipment-list .eq3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .home-section-four-equipment-list .eq4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .home-section-four-equipment-list .eq5 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .home-section-five h2 {
    text-align: center;
  }

  .trainers-section {
    justify-content: center;
  }
  .trainer {
    width: 80%;
    margin: 20px 0px;
  }
  .trainer img {
    width: 60%;
  }
}
